# OpenClaw 执行模型（batch_openclaw 使用）
OPENCLAW_MODEL=litellm/glm-5-turbo

# OpenClaw 主模型
# openclaw model generate files
GEN_OPENCLAW_MODEL=ali-qwen/qwen3.6-plus

# 预筛选模型（batch_filegen_v2 使用）
FILTER_MODEL=qwen3.6-plus
FILTER_API_BASE=https://dashscope.aliyuncs.com/compatible-mode/v1
FILTER_API_KEY=your_api_key_here

# 生成 query 模型（gen_query 使用）
GEN_QUERY_MODEL=glm-5.1
GEN_QUERY_API_BASE=https://dashscope.aliyuncs.com/compatible-mode/v1
GEN_QUERY_API_KEY=your_api_key_here
